<form class="p-3 mx-auto m-3" (ngSubmit)="login()">
  <p>
    <label class="form-label" for="loja">Loja: </label>
    <input class="form-control" type="text" id="loja" [(ngModel)]="loja" name="loja" />
  </p>
  <p>
    <label class="form-label" for="usuario">Usuário ou Email: </label>
    <input class="form-control" type="text" id="usuario" />
  </p>
  <p>
    <label class="form-label" for="senha">Senha: </label>
    <input class="form-control" type="password" id="senha" />
  </p>
  <p>
    <input class="btn btn-dark w-100" type="submit" value="Entrar">
  </p>
</form>