.desafio {
  font-size: 0.9rem;

  progress {
    width: 100%;
  }

  span {
    line-height: 1rem;
  }
}

.border-danger {
  border-width: 2px;
}

.position-absolute {
  bottom: 0;
  right: 0;
  opacity: 0.8;
}

.icone {
  min-width: 14px;
  text-align: center;
  display: inline-block;
}

.Bronze {
  color: #cd7f32;
}

.Prata {
  color: #6c757d;
}

.Ouro {
  color: #ffc107;
}

.Diamante {
  color: #b9f2ff;
}
