<ng-container *ngIf="desafios">
  <div *ngFor="let desafio of desafios" class="card my-3 p-2 desafio {{ desafio.recompensa_tipo === 'Ranking' ? 'border-danger' : ''}}">
    <div>
      <label for="progress-1" class="mb-0">{{desafio.descricao}}</label>
      <progress id="progress-1" [value]="desafio.progresso" [max]="desafio.total" ngbTooltip="{{desafio.progresso}}/{{desafio.total}}" triggers="hover focus click" placement="bottom"> {{(desafio.progresso*100)/desafio.total}}% </progress>
    </div>
    <p class="mb-0 font-weight-bold">Recompensas</p>
    <p class="mb-0" *ngIf="desafio.recompensa_coins"><fa-icon [icon]="faCoins" class="text-warning"></fa-icon> {{desafio.recompensa_coins}} ViaCoins</p>
    <p class="mb-0"><fa-icon [icon]="getIcone(desafio.recompensa_tipo)" class="{{ desafio.recompensa_tipo === 'Ranking' ? getClassRanking(desafio.recompensa_descricao) : 'text-success' }} icone"></fa-icon> {{desafio.recompensa_descricao}}</p>
    <fa-icon *ngIf="desafio.recompensa_tipo === 'Ranking'" [icon]="faExclamationTriangle" class="position-absolute text-danger h2 align-middle mr-2" ngbTooltip="Conclua este desafio para não cair de categoria" triggers="hover focus click" placement="left"></fa-icon>
  </div>
</ng-container>