<div class="card my-3 p-2">
  <p class="d-flex conquista m-0">
    <fa-icon [icon]="faTruck" class="h4 m-0 mr-2 mt-2 text-success"></fa-icon>
    <span>1 semana de frete grátis <small class="d-block text-muted">(termina em 03/06/2021)</small></span>
  </p>
</div>
<div class="card my-3 p-2">
  <p class="d-flex conquista m-0">
    <fa-icon [icon]="faAd" class="h4 m-0 mr-2 mt-2 text-success"></fa-icon>
    <span>Anúncio por SMS e email marketing <small class="d-block text-muted">(previsto para 07/06/2021)</small></span>
  </p>
</div>
<div class="card my-3 p-2 done">
  <p class="d-flex conquista m-0">
    <fa-icon [icon]="faPercentage" class="h4 m-0 mr-2 mt-2 text-secondary"></fa-icon>
    <span>Diminuição de 2% na comissão por 1 mês <small class="d-block text-muted">(terminou em 31/05/2021)</small></span>
  </p>
</div>