<div class="container" *ngIf="seller">
  <h4 class="d-flex mb-3"><img src="assets/{{seller.nome}}.jpg" class="border mr-2"> <span>{{seller.nome}}</span></h4>
  <div class="d-flex justify-content-between">
    <div class="d-flex premiacao">
      <fa-icon [icon]="faTrophy" class="{{seller.categoria_ranking}} h2 align-middle"></fa-icon>
      <div class="mx-2">
        {{seller.categoria_ranking}}
        <progress class="d-block" id="file" [value]="seller.progress" max="100" ngbTooltip="{{seller.progress}}/100 ViaCoins" triggers="hover focus click" placement="bottom"> {{seller.progress}}% </progress>
      </div>
      <fa-icon [icon]="faTrophy" class="{{getNextCategoria(seller.categoria_ranking)}} mt-3" ngbTooltip="Consiga ViaCoins para conquistar a categoria {{getNextCategoria(seller.categoria_ranking)}}" triggers="hover focus click" placement="bottom"></fa-icon>
    </div>
    <div class="avaliacoes text-center">
      <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
      <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
      <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
      <fa-icon [icon]="faStar" class="text-warning"></fa-icon>
      <fa-icon [icon]="faStar"></fa-icon>
      <p>450 avaliações</p>
    </div>
  </div>

  <nav class="nav nav-tabs text-center">
    <a routerLink="../conquistas" class="nav-link w-50 text-dark" routerLinkActive="active bg-light border-bottom-0">Conquistas</a>
    <a routerLink="../desafios" class="nav-link w-50 text-dark" routerLinkActive="active bg-light border-bottom-0">Desafios</a>
  </nav>
  <router-outlet></router-outlet>
</div>