h4 {
  align-items: center;

  img {
    max-width: 100px;
    max-height: 50px;
  }
}

.avaliacoes {
  p {
    font-size: 0.8rem;
  }
}

small {
  line-height: 0.8rem;
}

.Bronze {
  color: #cd7f32;
}

.Prata {
  color: #6c757d;
}

.Ouro {
  color: #ffc107;
}

.Diamante {
  color: #b9f2ff;
}
